.canvas-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.canvas-toolbar {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.tooltip-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.tooltip-item label {
    font-size: 1rem;
    font-weight: 600;
}